@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif; 
  /* also the 3 line below */
  display: flex;                                   
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
/* i did all this blow */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: rgba(53, 53, 53, 0.555);
}

.header,                                
.footer {
  
  display: flex;
  justify-content: space-between;
}

.left-links,        /* just noticed that these are just UL,could have written it there */
.right-links {
  display: flex;
  padding: 16px;
  gap: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons > * {        /* i could have just done button,i'm slow XD didn't even notice */
  padding: 8px;
}

.footer {
  border:  2px;
  background: rgba(128, 128, 128, 0.171);
}